{% extends 'base.html' %} {% load crispy_forms_tags %} {% block content %}

    <section class="animations">
        <div class="animations-container">
          <div class="ani ani-1">
            <div class="ani-cube">
              <div class="cube-face face_front"></div>
              <div class="cube-face face_right"></div>
              <div class="cube-face face_left"></div>
              <div class="cube-face face_top"></div>
              <div class="cube-face face_bottom"></div>
              <div class="cube-face face_back"></div>
            </div>
          </div>
          <div class="ani ani-2">
            <div class="ani-cube ani-cube-2">
              <div class="cube-face face_front"></div>
              <div class="cube-face face_right"></div>
              <div class="cube-face face_left"></div>
              <div class="cube-face face_top"></div>
              <div class="cube-face face_bottom"></div>
              <div class="cube-face face_back"></div>
            </div>
          </div>
          <div class="ani ani-3">
            <div class="ani-cube ani-cube-3">
              <div class="cube-face face_front"></div>
              <div class="cube-face face_right"></div>
              <div class="cube-face face_left"></div>
              <div class="cube-face face_top"></div>
              <div class="cube-face face_bottom"></div>
              <div class="cube-face face_back"></div>
            </div>
          </div>
          <div class="ani ani-4">
            <div class="ani-hamburger">
              <div class="hamburger-line hamburger-line_top"></div>
              <div class="hamburger-line hamburger-line_middle"></div>
              <div class="hamburger-line hamburger-line_bottom"></div>
            </div>
          </div>
          <div class="ani ani-5">
            <div class="moving-square-frame"></div>
            <div class="ani-moving-square"></div>
          </div>
          <div class="ani ani-6">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 1024 1024">
              <path id="followPath" d="M394.1-214.9c-49.7,89.4,114.4,192.8,175.5,475.1c13,60.1,85.4,424-98.1,552.6 c-95.7,67-267.2,74.5-346.3-22.1c-70.8-86.5-49-233.9,19.2-305.2c102.4-107,353.9-89.1,593.2,96.5c139.6,107,294.1,258.4,415,468.6 c19.2,33.5,36.6,66.6,52.3,99.3c13,8.6,34,19.5,53.3,13.2c148-48.6,165.1-1094.5-338.5-1374.8C723.7-320.8,449-313.8,394.1-214.9z"></path>
              <path id="dashedPath" d="M394.1-214.9c-49.7,89.4,114.4,192.8,175.5,475.1c13,60.1,85.4,424-98.1,552.6 c-95.7,67-267.2,74.5-346.3-22.1c-70.8-86.5-49-233.9,19.2-305.2c102.4-107,353.9-89.1,593.2,96.5c139.6,107,294.1,258.4,415,468.6 c19.2,33.5,36.6,66.6,52.3,99.3c13,8.6,34,19.5,53.3,13.2c148-48.6,165.1-1094.5-338.5-1374.8C723.7-320.8,449-313.8,394.1-214.9z"></path>
              <path id="airplain" d="M8.04 84L92 48 8.04 12 8 40l60 8-60 8z">
                <animateMotion xlink:href="#airplain" dur="6s" fill="freeze" repeatCount="indefinite" rotate="auto">
                  <mpath xlink:href="#followPath"></mpath>
                </animateMotion>
              </path>
            </svg>
          </div>
        </div>

        <div class="content">
          <h2 style="color:#3496d2;">Youtube Video Downloader</h2>
          <div class="small-container">
            <form action="" method="post">
              {% csrf_token %} {{ form|crispy }}
              <input style="margin-top: 20px;" type="submit" value="Download" class="btn btn-info btn-block">
            </form>
          </div>
        </div>
      
      </section>
      {% if title %}
      <div class="dbox">
        <div class="img-thumb">
          <img class="img-responsive" src="{{ thumb }}">
        </div>
        <div id="desl" class="v-about">
          <p class="v-title">{{ title }}</p>
          <section class="infos">
      
            <li>Duration <b>{{ duration }}</b></li>
            <li>Views <b>{{ views }}</b></li>
            <li>Likes <b>{{ likes }}</b></li>
            <li>Dislikes <b>{{ dislikes }}</b< /li>
      
          </section>
        </div>
      </div>
      
      <div id="m-show">
        <p class="v-title">{{ title }}</p>
      </div>
      <div class="downloads">
      
        <table>
          <tr>
            <th scope="col">Resolution</th>
            <th scope="col">File Size</th>
            <th scope="col">Extension</th>
            <th scope="col">Download</th>
          </tr>
          <tr>
            {% for stream in streams %}
          <tr>
            <td>{{ stream.resolution }}</td>
            <td>{{ stream.file_size }}</td>
            <td>{{ stream.extension }}</td>
            <td><a href="{{ stream.video_url }}" style="text-decoration: none;" download="{{ title }}.{{ extension }}"
                target="_blank">Download <i class=" fa fa-download"></i></a></td>
          </tr>
          {% endfor %}
          </tr>
        </table>
      </div>
      
      
  
      {% endif %}

{% endblock %}

